@using Domain.Models.Enum
@model Core.ViewModels.ProjectSummaryVM


<style>
    .center {
        text-align: center !important;
        background-color: aliceblue !important;
        font-size: 24px !important;
    }

    .Header {
        font-size: 30px !important;
        text-align: center !important;
        background-color: aliceblue !important;
    }

    .tabStyle {
        padding-right: 0px !important;
        font-size: 24px;
    }

    .ItemsStyle {
        margin-bottom: 0px !important;
    }

    .ColStyle {
        margin-top: 6px;
        border: 2px solid;
        border-radius: 20px;
        height: 40px;
    }
</style>


<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Profile">

        <div class="row clearfix">
            <div class="center">
                <b>@Model.Project.ProjectName</b>
            </div>
        </div>
        <div class="row clearfix">
            <div class="center">
                <b>@Model.Project.ProjectDescription</b>
            </div>
        </div>
        @foreach (var Item in Model.Partners)
        {
            <div class="row clearfix center">

                <div class="col-sm-4 ColStyle">
                    <div class="form-group ItemsStyle">
                        @Item.PartnerTeamDesc
                    </div>
                </div>
                <div class="col-sm-8 ColStyle">
                    <div class="form-group ItemsStyle">
                        @Item.AllUserName
                    </div>
                </div>
            </div>
        }
        
        
    </div>
</div>
