@using Domain.Models.Enum
@model Core.ViewModels.CreateProjectVM

@{
    ViewData["Title"] = "ویرایش پروژه";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{
    <style>
        .SubmitBtn {
            float: left;
            margin-left: 50px;
        }
    </style>
}

<div class="card">
    <div class="header bg-red">
        <h2>
            ویرایش پروژه
        </h2>
    </div>
    <div class="body">

        <form asp-action="EditProject">
            @Html.HiddenFor(x => x.Project.Id)
            @Html.HiddenFor(x => x.Project.DateInserted)
            <div class="row clearfix">

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Project.ProjectName" class="control-label"></label>
                            <input asp-for="Project.ProjectName" class="form-control" />
                            <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Project.ProjectDescription" class="control-label"></label>
                            <input asp-for="Project.ProjectDescription" class="form-control" />
                            <span asp-validation-for="Project.ProjectDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row clearfix">
                <div class="form-group">
                    <input type="submit" value="ویرایش پروژه" class="btn bg-green waves-effect SubmitBtn" />
                </div>
            </div>
        </form>
    </div>
</div>

