<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>سامانه پایش سامانه های نرم افزاری</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="templatemo">


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>@ViewData["Title"]</title>

    @await Html.PartialAsync("_Links")

    @await RenderSectionAsync("Styles", false)

</head>
<body>

    
    @RenderBody()



    @await Html.PartialAsync("_Scripts")

    @await RenderSectionAsync("Scripts", false)

</body>
</html>