<div class="menu">
    <ul class="list">
        <li class="header"></li>
        <li class="active">
            <a asp-controller="Admin" asp-action="Index">
                <i class="material-icons">home</i>
                <span>داشبورد</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">swap_calls</i>
                <span>مدیریت کاربران</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/Admin/pages/ui/alerts.html">اطلاعات پایه</a>
                </li>
                <li>
                    <a href="/Admin/pages/ui/animations.html">لیست کاربران</a>
                </li>
                <li>
                    <a href="/Admin/pages/ui/badges.html">گروه های کاربری</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>مدیریت پروژه ها</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/Admin/pages/forms/basic-form-elements.html">اطلاعات پایه</a>
                </li>
                <li>
                    <a href="/Admin/pages/forms/advanced-form-elements.html">لیست پروژه ها</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">pie_chart</i>
                <span>گزارشات</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="/Admin/pages/charts/morris.html">گزارشات عملکردی</a>
                </li>
                <li>
                    <a href="/Admin/pages/charts/flot.html">گزارشات غیر عملکردی</a>
                </li>
                <li>
                    <a href="/Admin/pages/charts/chartjs.html">گزارشات سرویس ها</a>
                </li>
            </ul>
        </li>
    </ul>
</div>