@using System.Security.Claims
<div class="user-info">
    <div style="text-align: center;">
        <div class="image">
            <img src="~/Admin/images/user.png" width="48" height="48" alt="User" />
        </div>
    </div>
    <div class="info-container">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </div>
            <div class="email">@User.Claims.Where(x=>x.Type == ClaimTypes.Email).Select(x=>x.Value).FirstOrDefault()</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a asp-controller="Admin" asp-action="ChangePassword"><i class="material-icons">person</i>تغییر کلمه عبور</a></li>
                    @*<li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>*@
                    <li role="separator" class="divider"></li>
                    <li><a asp-controller="Login" asp-action="Logout"><i class="material-icons">input</i>خروج</a></li>
                </ul>
            </div>
        }
    </div>
</div>