@model Core.ViewModels.CreateTestVM

<div class="form-group Margin-b Margin-t">
    <div class="form-line">
        <label asp-for="VersionId" class="control-label"></label>
        <select id="version" class="form-control show-tick" asp-for="VersionId" asp-items="@(ViewBag.Version)">
            <option value="">--انتخاب نمایید--</option>
        </select>
        <span asp-validation-for="VersionId" class="text-danger"></span>
    </div>
</div>