@using Domain.Models.Enum
@model Domain.Models.Projects.ProjectVersion


@{
    ViewData["Title"] = "EditVersion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




@section Styles
{
    <style>
        .SubmitBtn {
            float: left;
            margin-left: 50px;
        }
    </style>
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ویرایش نسخه
        </h2>
    </div>

    <div class="body">

        <form asp-action="EditVersion">
            @Html.HiddenFor(x=>x.Id)
            <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="ProjectId" class="control-label"></label>
                            <select id="Gender" class="form-control show-tick" asp-for="ProjectId" asp-items="@(ViewBag.Projects)">
                                <option value="">--انتخاب نمایید--</option>
                            </select>
                            <span asp-validation-for="ProjectId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Status" class="control-label"></label>
                            <select id="Post" class="form-control show-tick" asp-for="Status" asp-items="Html.GetEnumSelectList<VersionStatus>()">
                                <option value="">--انتخاب نمایید--</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row clearfix">
                <div class="form-group">
                    <input type="submit" value="ثبت" class="btn bg-green waves-effect SubmitBtn" />
                </div>
            </div>
        </form>
    </div>
</div>
