@model List<Core.ViewModels.TeamDetailVM>

<div class="row clearfix center">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 ColStyle">
            <div class="form-group ItemsStyle">
                @item.Member
            </div>
        </div>
        <div class="col-sm-6 ColStyle">
            <div class="form-group ItemsStyle">
                @item.Position
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="form-group ItemsStyle">
                <a class="btn bg-danger waves-effect" onclick="DeleteMember(@item.Id)"> حذف عضو </a>
            </div>
        </div>
    }
</div>

<script>
    function DeleteMember(id) {
        $.ajax({
            url: "@Url.Action("DeleteMember", "BasicInformation")?TeamDetailId=" + id  ,
            type: "POST",
            success: function (result) {
                $("#MemberModal").html(result );

            }
        });
    }
</script>