@model Domain.Models.Teams.Team
@{
    ViewData["Title"] = "ویرایش تیم";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles
{
    <style>
        .SubmitBtn {
            float: left;
            margin-left: 50px;
        }
    </style>
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ویرایش تیم
        </h2>
    </div>
    <div class="body">

        <form asp-action="EditTeam" >
            <div class="row clearfix">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.DateInserted)
                @Html.HiddenFor(x => x.CreatorID)
                @Html.HiddenFor(x => x.IpAddress)

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="form-group">
                    <input type="submit" value="ویرایش تیم" class="btn bg-green waves-effect SubmitBtn" />
                </div>
            </div>
        </form>
    </div>
</div>

