
@{
    ViewData["Title"] = "گزارشات عملکردی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            گزارشات عملکردی
        </h2>
    </div>
    <div class="body">
        
        

    </div>
</div>
