
@{
    ViewData["Title"] = "بررسی کد";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            بررسی کد
        </h2>
    </div>
    <div class="body">




    </div>
</div>


