
@{
    ViewData["Title"] = "بررسی سند";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            بررسی سند
        </h2>
    </div>
    <div class="body">
        
        
        

    </div>
</div>
