@model Core.ViewModels.ListAccessGroupVM

<style>
    .AccessDiv {
        border: 1px solid;
        border-radius: 30px;
        border-color: #376bff;
        margin-bottom: 0px !important;
        font-size: 25px;
    }

    .AccessLable {
        width: 75%;
        float: right;
    }

    .AccessSpan {
        width: 25%;
        float: right;
    }
</style>

@for (int i = 0; i < Model.GroupList.Count; i++)
{

    @if (Model.GroupList[i].Accesses.Count > 0)
    {
        for (int j = 0; j < Model.GroupList[i].Accesses.Count; j++)
        {
            <div class="AccessDiv">
                <div class="demo-switch-title AccessLable">@Model.GroupList[i].Accesses[j].AccessName</div>
                <div class="switch AccessSpan">
                    <label><input asp-for="GroupList[i].Accesses[j].Selected" type="checkbox"><span class="lever switch-col-blue-Custom"></span></label>
                </div>
            </div>
        }
    }

}


