@model Core.ViewModels.CreateAccesGroupVM

@{
    ViewData["Title"] = "ویرایش گروه کاربری";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
{
    <style>
        .AccessDiv {
            border: 1px solid;
            border-radius: 30px;
            border-color: #376bff;
            margin-bottom: 0px !important;
            font-size: 25px;
        }

        .AccessLable {
            width: 75%;
            float: right;
        }

        .AccessSpan {
            width: 25%;
            float: right;
        }
    </style>
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            ویرایش گروه کاربری
        </h2>
    </div>
    <div class="body">


        <form asp-action="EditGroup">
            @Html.HiddenFor(x => x.AccessGroupId)
            <div class="row clearfix">

                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="form-line">
                            <label asp-for="GroupName" class="control-label"></label>
                            <input asp-for="GroupName" class="form-control" />
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row clearfix">
                @for (int i = 0; i < Model.Accesses.Count; i++)
                {
                    @Html.HiddenFor(x => x.Accesses[i].AccessId)
                    @Html.HiddenFor(x => x.Accesses[i].AccessName)

                    if (Model.Accesses[i] != null)
                    {
                        <div class="col-sm-4 AccessDiv">
                            <div class="demo-switch-title AccessLable">@Model.Accesses[i].AccessName</div>
                            <div class="switch AccessSpan">
                                <label><input asp-for="Accesses[i].Selected" type="checkbox"><span class="lever switch-col-blue-Custom"></span></label>
                            </div>
                        </div>
                    }
                }

            </div>
            <br />
            <br />
            <div class="row clearfix">
                <div class="form-group">
                    <input type="submit" value="ویرایش گروه کاربری" class="btn bg-green waves-effect SubmitBtn" />
                </div>
            </div>
        </form>

    </div>
</div>

