@model Core.ViewModels.ChangePassword
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="header bg-blue-grey">
        <h2>
            تغییر کلمه عبور
        </h2>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <form asp-action="PostChangePassword">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="Password" type="password" class="form-control">
                                    <label class="form-label">کلمه عبور</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="NewPassword" type="password" class="form-control">
                                    <label class="form-label">کلمه عبور جدید</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input asp-for="RePassworld" type="password" class="form-control">
                                    <label class="form-label">تکرار کلمه عبور</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row clearfix">
                        <div class="form-group">
                            <input type="submit" value="ثبت" class="btn bg-green waves-effect SubmitBtn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

