@using Domain.Models.Enum

@{
    ViewData["Title"] = "داشبورد سامانه";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles
{
    
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/Admin/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />

    <!-- Bootstrap DatePicker Css -->
    <link href="~/Admin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />

    <!-- Wait Me Css -->
    <link href="~/Admin/plugins/waitme/waitMe.css" rel="stylesheet" />
}


<div class="block-header">
    <h2>داشبورد</h2>
</div>


@*<div class="body">
        <div class="row clearfix jsdemo-notification-button">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <button type="button" class="btn btn-danger btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                        data-animate-enter="" data-animate-exit="" data-color-name="alert-danger">
                    DANGER
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <button type="button" class="btn btn-success btn-block waves-effect" data-placement-from="bottom" data-placement-align="center"
                        data-animate-enter="" data-animate-exit="" data-color-name="alert-success">
                    SUCCESS
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <button type="button" class="btn btn-warning btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                        data-animate-enter="" data-animate-exit="" data-color-name="alert-warning">
                    WARNING
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                <button type="button" class="btn btn-info btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                        data-animate-enter="" data-animate-exit="" data-color-name="alert-info">
                    INFO
                </button>
            </div>
        </div>
    </div>*@

<div class="demo-radio-button">
    <input name="group4" type="radio" id="radio_7" class="radio-col-red" checked="">
    <label for="radio_7">RED</label>
    <input name="group4" type="radio" id="radio_8" class="radio-col-pink">
    <label for="radio_8">PINK</label>
    <input name="group4" type="radio" id="radio_9" class="radio-col-purple">
    <label for="radio_9">PURPLE</label>
    <input name="group4" type="radio" id="radio_10" class="radio-col-deep-purple">
    <label for="radio_10">DEEP PURPLE</label>
    <input name="group4" type="radio" id="radio_11" class="radio-col-indigo">
    <label for="radio_11">INDIGO</label>
    <input name="group4" type="radio" id="radio_12" class="radio-col-blue">
    <label for="radio_12">BLUE</label>
    <input name="group4" type="radio" id="radio_13" class="radio-col-light-blue">
    <label for="radio_13">LIGHT BLUE</label>
    <input name="group4" type="radio" id="radio_14" class="radio-col-cyan">
    <label for="radio_14">CYAN</label>
    <input name="group4" type="radio" id="radio_15" class="radio-col-teal">
    <label for="radio_15">TEAL</label>
    <input name="group4" type="radio" id="radio_16" class="radio-col-green">
    <label for="radio_16">GREEN</label>
    <input name="group4" type="radio" id="radio_17" class="radio-col-light-green">
    <label for="radio_17">LIGHT GREEN</label>
    <input name="group4" type="radio" id="radio_18" class="radio-col-lime">
    <label for="radio_18">LIME</label>
    <input name="group4" type="radio" id="radio_19" class="radio-col-yellow">
    <label for="radio_19">YELLOW</label>
    <input name="group4" type="radio" id="radio_20" class="radio-col-amber">
    <label for="radio_20">AMBER</label>
    <input name="group4" type="radio" id="radio_21" class="radio-col-orange">
    <label for="radio_21">ORANGE</label>
    <input name="group4" type="radio" id="radio_22" class="radio-col-deep-orange">
    <label for="radio_22">DEEP ORANGE</label>
    <input name="group4" type="radio" id="radio_23" class="radio-col-brown">
    <label for="radio_23">BROWN</label>
    <input name="group4" type="radio" id="radio_24" class="radio-col-grey">
    <label for="radio_24">GREY</label>
    <input name="group4" type="radio" id="radio_25" class="radio-col-blue-grey">
    <label for="radio_25">BLUE GREY</label>
    <input name="group4" type="radio" id="radio_26" class="radio-col-black">
    <label for="radio_26">BLACK</label>
</div>

@section Scripts
{
    <script src="~/Admin/plugins/autosize/autosize.js"></script>
    
    <script src="~/Admin/js/pages/forms/basic-form-elements.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/Admin/plugins/momentjs/moment.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/Admin/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="~/Admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
}
