@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <style>
        .DescriptionColor {
            color: #8e8e8e;
            font-size: 18px;
        }

        .TeamHeader {
            color: #827f7f;
        }

    </style>
}
    <div id="fullpage">

        <!-- start home -->
        <div id="home" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 wow fadeIn" style="    padding-right: 220px !important; " data-wow-delay="0.9s">
                        <h3>سامانه پایش سیستم های نرم افزاری</h3>
                        <h1>SQCA</h1>
                        <h2 class="rotate">پایش عملکرد سامانه ها, پیاده سازی داشبورد های مدیریت , مشاور سیستم های سازمانی</h2>
                        <p class="DescriptionColor">توضیحات</p>
                        <a asp-controller="Login" asp-action="Index" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">ورود به سامانه</a>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <!-- end home -->
        <!-- start work -->
        <div id="work" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounce">
                        <h2>خدمات تیم SQCA</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-object media-right">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">نظارت بر پروژه ها</h3>
                                <p class="DescriptionColor" style="text-align: justify;" >تجربه طولانی تیم SQCA در مشاوره و نظارت بر پروژه های نرم افزاری، حاصل مشارکت در پروژه های متعدد نرم افزاری در سطح ملی است</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-object media-right">
                                <i class="fa fa-link"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">پایش عملکرد سیستم ها</h3>
                                <p class="DescriptionColor" style="text-align: justify;">پایش عملکرد سیستم ها مهمترین فعالیت حساس یک تیم نرم افزاری در یک سازمان محسوب می شود که به تنهایی می تواند باعث بالا رفتن کارایی سرویس ها ، صرفه جویی در هزینه های سازمان شود.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="media">
                            <div class="media-object media-right">
                                <i class="fa fa-paper-plane"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">کنترل تضمین کیفیت </h3>
                                <p  class="DescriptionColor" style="text-align: justify;">تیم SQCA با انجام انواع تست های عملکردی و غیرعملکردی کیفیت سامانه های سازمانی را بررسی می نماید.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end work -->
        <!-- start about -->
        <div id="about" class="section">
            <div class="container">
                <div class="row">
                    @*<div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
                        <span class="text-top">Web Design <small>95%</small></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                        </div>
                        <span>Mobile Apps <small>80%</small></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                        </div>
                        <span>SEO Stuffs <small>70%</small></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                        </div>
                        <span>HTLM5 &AMP; CSS3 <small>90%</small></span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>*@

                    <div class="col-md-12 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
                        <h2 class="TeamHeader">تیم SQCA</h2>
                        <h4>کنترل تضمین کیفیت نرم افزار</h4>
                        <p class="DescriptionColor" style="text-align: justify;">تضمین کیفیت نرم افزار (SQA) فرایندی است که اطمینان می دهد کلیه فرایندها ، روش ها ، فعالیت ها و موارد مهندسی نرم افزار تحت نظارت بوده و مطابق با استانداردهای تعریف شده است. این استانداردهای تعریف شده می تواند یکی یا ترکیبی از ISO 9000 ، مدل CMMI ، ISO15504 و غیره باشد.</p>
                        <p class="DescriptionColor" style="text-align: justify;">تیم SQCA به شرکت ها کمک می کند تا خطاهای پنهان و نقص برنامه ها را تشخیص دهند. شناسایی و تشخیص این مشکلات قبل از راه اندازی محصول برای موفقیت آن ضروری است. بدون وجود تیم آزمایش پروژه ، این نقص ها می توانند به محصول نهایی نفوذ کرده و عملکرد آن را در محیط زنده تحت تأثیر قرار دهند.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- end about -->
        <!-- start portfolio -->
        <div id="portfolio" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow bounce">فعالیت ها</h2>
                    </div>
                    <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                            <img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img">
                            <div class="portfolio-overlay">
                                <h4>تحقیق و شناخت بهترین روشهای جهانی</h4>
                                @*<h5>Author: Cindy</h5>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                            <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img">
                            <div class="portfolio-overlay">
                                <h4>اتنخاب مناسبترین پیمانکاران</h4>
                                @*<h5>Author: Linda</h5>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                            <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img">
                            <div class="portfolio-overlay">
                                <h4>پیاده سازی و توسعه سامانه ها و راه های ارتباطی آنان</h4>
                                @*<h5>Author: Kate</h5>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                            <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img">
                            <div class="portfolio-overlay">
                                <h4>کنترل منابع مورد نیاز</h4>
                                @*<h5>Author: Catherine</h5>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                            <img src="images/portfolio-img5.jpg" class="img-responsive" alt="portfolio img">
                            <div class="portfolio-overlay">
                                <h4>پایش لحظه ای سامانه های درحال اجرا</h4>
                                @*<h5>Author: Kathy</h5>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end portfolio -->
        <!-- start contact -->
        <div id="contact" class="section">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.6s">
                        <form role="form" method="post" action="#">
                            <input name="name" type="text" class="form-control" id="name" placeholder="نام و نام خانوادگی">
                            <input name="email" type="email" class="form-control" id="email" placeholder="ایمیل">
                            <textarea name="message" rows="5" class="form-control" id="message" placeholder="متن پیام"></textarea>
                            <input name="send" type="submit" class="form-control" id="send" value="ارسال">
                        </form>
                    </div>

                    <div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <address>
                            <p class="contact-title DescriptionColor">ارتباط با ما</p>
                            <p class="DescriptionColor"><i class="fa fa-phone"></i> 3631 - 3624 - 3629 - 3623 </p>
                            <p class="DescriptionColor"><i class="fa fa-envelope-o"></i> SQCA@pdnco.com</p>
                            <p class="DescriptionColor"><i class="fa fa-map-marker"></i> ساختمان هفت تیر - طبقه چهار - اتاق 404</p>
                        </address>
                    </div>

                    <div class="col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
        <!-- end contact -->
        <!-- start footer -->
        @*<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow fadeIn" data-wow-delay="0.9s">

                        <hr>
                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>*@
        <!-- end footer -->


    </div>