
@{
    ViewData["Title"] = "لیست کاربران";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Layout = null;
}
@*@section Styles
    {
        <link href="Admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
        <link href="~/Admin/css/jquery.dataTables.css" rel="stylesheet" />
    }*@

@section Styles
{
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="Admin/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="Admin/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="Admin/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="Admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="Admin/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="Admin/css/themes/all-themes.css" rel="stylesheet" />
}
<div class="card">
    <div class="header bg-red">
        <h2>
            کاربران
        </h2>
    </div>
    <div class="body">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Family</th>
                                        <th>NationalCode</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>UserName</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Family</th>
                                        <th>NationalCode</th>
                                        <th>Gender</th>
                                        <th>Email</th>
                                        <th>UserName</th>
                                    </tr>
                                </tfoot>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*@section Scripts
    {*@
@*<script>
        $(document).ready(function () {

            $('.js-basic-example').DataTable({
                responsive: true,
                ajax: {
                    url: '/Account/GetAccountList',
                    type: 'GET'
                },

                "lengthMenu": [
                    [10, 25, 50, -1], [10, 25, 50, "All"]
                ],

                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                    sProcessing: "<img src='image/loader.gif'>"
                },

                columns: [
                    { data: "Name" },
                    { data: "Family" },
                    { data: "NationalCode" },
                    { data: "Gender" },
                    { data: "Email" },
                    { data: "UserName" },
                ]
            });
        });
    </script>*@

@section Scripts
{


    <script src="Admin/plugins/jquery/jquery.min.js"></script>


    <!-- Jquery DataTable Plugin Js -->
    <script src="Admin/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="Admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="Admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="Admin/js/admin.js"></script>
    <script src="Admin/js/pages/tables/jquery-datatable.js"></script>
    
}


@*  *@}
